ul.nav-links {
  list-style-type: none;
  padding: 0;
}

.nav-links li {
  padding: 0.5rem 1rem;
}

.nav-links li a {
  text-decoration: none;
  color: black;
}

.fa-solid.fa-bars {
  font-size: 2rem;
  background: none;
  border: none;
  cursor: pointer;
}
