:root {
  --sunset-orange: #d96f32;
  --forest-green: #228b22;
  --sky-gold: #f3c77a;
  --midnight-black: #1a1a1a;
  --text-color: #222;
  --background-color: #f2e5c0;
}

ul.nav-links {
  list-style-type: none;
  padding: 0;
}

.nav-links li {
  padding: 0.5rem 1rem;
}

#logo {
  width: 250px;
  height: auto;
  display: block;
  margin: 1rem auto;
}

.nav-links li a {
  text-decoration: none;
  color: black;
}

.fa-solid.fa-bars {
  font-size: 2rem;
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 1000;
}
